.wrapper {
  display: flex;
  align-items: center;
  transform: rotate(11deg) translate(-20%, -10%);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 70%;
  height: 150%;
  background-color: #ff9d45;
  z-index: 2;
}

.content {
  position: relative;
  display: flex;
  padding: 30px;
  width: 100%;
  height: calc(100vh - 64px);
  align-items: center;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.cardWrapper {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: 15%;
  font-size: 1.2rem;
  z-index: 3;
}

.cardContent {
  width: 100%;
  background: #ff9d45;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
}

.cardContent input {
  margin: 16px 0;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  line-height: 1.8715;
  background-color: #da6d00;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
}

.cardContent input:nth-child(n + 1) {
  margin-top: 0px;
}

.cardContent hr {
  margin: 16px 0;
}

.cardContent button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  touch-action: manipulation;
  height: 42px;
  padding: 4px 15px;
  font-size: 16px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  background: #fdbb8a;
  border-color: #d9d9d9;
  width: 100%;
}

button.primaryBtn {
  color: #fff;
  background: #ff9d45;
  border-color: #ff9d45;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.styledPattern {
  position: absolute;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 1024px) {
  .wrapper {
    left: -50px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 200%;
  }
  .styledPattern {
    display: none !important;
  }
  .content {
    justify-content: center;
  }
  .cardWrapper {
    margin-left: 0px;
  }
}
