
OPENAI_API_KEY=<openai_key>
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=keep
MYSQL_PASSWORD=keep
MYSQL_DATABASE=keep

POSTGRES_USER=keep
POSTGRES_PASSWORD=keep
POSTGRES_DB=keep

EVENT_GENERATOR_PORT=8081
DEBUG=true
EVENT_GENERATOR_INTERVAL=5
LOG_LEVEL=DEBUG
SAMPLE_EVENTS_FILE_PATH=alert-manager/event_generator/local_data/events-lab.json

INCIDENT_MANAGER_PORT=8082
EMBEDDING_DIMENSION=1536
SIMILARITY_TOP_K=15
SIMILARITY_CUTOFF=0.9

VECTOR_DB_URL=/data/milvus_vector_db.db
VECTOR_DB_HOST=milvus-standalone
VECTOR_DB_PORT=19530

INCIDENT_MANAGER_URL=http://incident-manager:8082

KEEP_WORKFLOWS_DIRECTORY=/venv/lib/python3.11/site-packages/keep/keep_provisions/workflows
KEEP_PROVIDERS={"MySQL Logs Database":{"type":"mysql","authentication":{"host":"mysql","port":"3306","username":"keep","password":"keep","database":"keep"}}}

