@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/vercel/next.js/discussions/13387
 nextjs-portal {
    display: none;
}
*/
.rules-tooltip [role="tooltip"] {
    @apply w-72; /* This sets the width to 16rem. Adjust the number as needed. */
    @apply break-words; /* This will wrap long words if needed. */
  }

  /* styles/globals.css */
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #838885; /* Green */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

.page-container {
  @apply p-4 mx-auto w-full;
  @screen xl {
    @apply p-10;
  }
}

.card-container {
  @apply p-4 mx-auto;
  @screen xl {
    @apply p-10;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sliding-panel-container.active {
  /* original value is ridiculous 15.000, overflowing toasts*/
  @apply z-[1000] !important;
}
