@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/vercel/next.js/discussions/13387
 nextjs-portal {
    display: none;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
