@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/vercel/next.js/discussions/13387
 nextjs-portal {
    display: none;
}
*/
[role="tooltip"] {
    @apply w-72; /* This sets the width to 16rem. Adjust the number as needed. */
    @apply break-words; /* This will wrap long words if needed. */
  }
