.sqd-designer-react {
  height: inherit;
  border-radius: 10px;
}

.sqd-designer {
  height: 100%;
}

.sqd-root-start-stop-circle,
.sqd-label-rect {
  fill: rgb(255, 132, 16) !important;
}

.sqd-smart-editor {
  overflow: scroll;
}

.sqd-toolbox-item-text {
  text-transform: capitalize;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
