.provider-tiles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
  }

  .provider-tiles .card {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 150px; /* Set the desired height */
  }

  .provider-tiles .card:hover {
    background-color: rgb(255 221 189);
    cursor: pointer;
  }


  .provider-tiles .card .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .provider-tiles .card .image-wrapper img {
    max-width: 100%;
    height: unset;
    object-fit: contain;
  }

  .provider-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    min-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
  }

  .provider-modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .provider-modal button {
    margin-top: 20px;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .complete-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 24px;
    color: rgb(234 160 112);
  }
