.tile-basis {
  flex-basis: calc(14.285% - 1.25rem);
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .tile-basis {
    flex-basis: calc(100% - 1.25rem);
  }
}

@media only screen and (min-width: 700px) and (max-width: 1280px) {
  .tile-basis {
    flex-basis: calc(33.333333% - 1.25rem);
  }
}

@media only screen and (min-width: 1280px) and (max-width: 2048px) {
  .tile-basis {
    flex-basis: calc(25% - 1.25rem);
  }
}
