

.test-button,
.connect-button {
  padding: 8px 16px;
  background-color: #f27e12;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.test-button:hover,
.connect-button:hover {
  background-color: #f27e12;
}

.test-result {
  margin-top: 16px;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  margin-top: 8px;
}

.error-message button {
  margin-top: 16px;
}

.error-message {
  white-space: pre-wrap;
}

.connected-form {
  background-color: #e8f5e9; /* Green color */
}

.alerts-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.alerts-table th,
.alerts-table td {
  padding: 8px;
  border: 1px solid #ccc;
  width: 25%;
  min-height: 40px; /* Adjust the minimum height as needed */
  white-space: pre-wrap;
  word-break: break-word; /* Added property */
}

.alerts-table th {
  background-color: #f0f0f0;
  text-align: left;
}

.alerts-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.hint {
  font-weight: bold;
  color: #999;
  margin-left: 4px;
  cursor: help;
}

.label-container {
  display: flex;
  align-items: center;
}

.question-icon {
  margin-left: 5px; /* Adjust the spacing between the icon and the text */
}

.label-container {
  position: relative;
}

.help-bubble-container {
  position: absolute;
  top: -25px; /* Adjust the value as needed */
  right: 0;
  display: flex;
  align-items: center;
}

.help-bubble {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  white-space: nowrap;
  position: absolute;
  top: -30px;
  right: 0;
}

.help-bubble::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f1f1f1 transparent;
}
