.grid-item__widget:hover {
  cursor: move;
}
.grid-item__widget .panel {
  box-shadow: none;
  border: none;
}
.grid-item__widget .panel:focus {
  outline: none;
}

.hidden-on-small {
  display: none;
}

@media (min-width: 1024px) {
  .hidden-on-small {
    display: inherit;
  }
}
