apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "keep.fullname" . }}-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.database.storageClasss }}
  resources:
    requests:
      storage: 5Gi
