apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "keep.fullname" . }}-pv
spec:
  capacity:
    storage: {{ .Values.database.size }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ .Values.database.storageClasss }}
  hostPath:
    path: "/var/lib/mysql"