NEXTAUTH_URL=http://localhost:3000

# Required:
# NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# API
API_URL=http://localhost:8080
# Auth
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_ISSUER=
# Pusher
PUSHER_HOST=localhost
PUSHER_PORT=6001
PUSHER_APP_KEY=keepappkey
# Logging
LOG_FORMAT=dev_terminal
