.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.error-message {
  font-size: 18px;
  margin-bottom: 16px;
}

.error-url {
  font-size: 14px;
  margin-bottom: 8px;
  color: gray;
}

.error-image {
  margin-top: 16px;
  width: 150px;
  height: 150px;
}
