name: Test docs
on:
  push:
    paths:
      - 'keep/**'
  pull_request:
    paths:
      - 'keep/**'
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}-${{ github.job }}
  cancel-in-progress: true
env:
  PYTHON_VERSION: 3.11
  STORAGE_MANAGER_DIRECTORY: /tmp/storage-manager

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: chartboost/ruff-action@v1
        with:
          src: "./keep"
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install mintlify and validate docs
        run: |
          npm i -g mintlify
          cd docs && mintlify broken-links;
          ./validate_navigation.sh;
          cd ../scripts && python3 get_providers_list.py --validate;

          # Todo: validate if openapi schema is matching with the code
  